

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url("pic/bg.png");
    font-family: 'Kanit', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;    
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
    display: flex;
}

.code, .preview{
    flex-basis: 50%;
    padding: 10px;
}

.csstxt{
    font-size: 16px;
    color: #1d1e22;
    margin-left: 16px;
    width: calc(100% - 16px);
    height: 25px;
    display: block;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    background-color: #fff;
}

/* iframe{
    width: 100%;
    height: 95%;
    background-color: #fff;
    border: 0;
    outline: 0;
} */

/* .code, .preview{
    color: #fff;
} */

label{
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #000;
    height: 30px;
    padding: 10px;
    color: #fff;
}

.CodeMirror {
    height: auto;
}

.time{
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.time h1{
    font-size: 18px;
    color: #fff;
}

#btnsub{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: #B355F2;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 5em;
    bottom: 1em;
    padding-top: 0.3em;
    opacity: 1;
}

#btnnext{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 1em;
    bottom: 1em;
    padding-top: 0.3em;
    opacity: 0.5;
}

.preview {
    position: sticky;
    background-color:#1B1D2D;
    margin-top: 20px;
    width: 80vw;
    height: 90vh;
    overflow: hidden;
    border-radius: 4px;
}

#csscode{
    height: 250px;
    width: 600px;
    position: relative;
    padding: 10px 10px 10px 40px;
    background-color: #D9D9D9;
    border-radius: 4px;
    overflow: hidden;
}

.bear1{
    position: relative;
    width: 20%;
    overflow: hidden;
}

.bed1 {
    width: 30%;
    position: relative;
    overflow: hidden;
}

#bed {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1em;
    align-items: flex-end;
}

#bear{
    display: flex;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
   
}
#id{
    height: 260px;
    position: relative;
    padding: 10px 10px 10px 40px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}

#editor{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #646464;
    font-family: 'Source Code Pro', monospace;
}


.line-num{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 6px;
    text-align: right;
    background-color: #999;
    color: #D5D5D5;
}

#before{
    font-size: 16px;
    line-height: 1.5;
    color: #777;
    margin: 0;
}

.intro{
    margin-top: 20px;
    width: 100%;
    height: 40vh;
    background-color: #1B1D2D;
    border-radius: 4px;
}

#head{
    padding: 8px 20px;
    font-size: 35px;
    color: #fff;
}

#question{
    padding: 0px 50px;
    font-size: 16px;
    color: #fff;
}

ul{
    padding: 0px 90px;
    color: #fff;
}

.help{
    cursor: pointer;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 800;
}


#intro_flexbox1,
#intro_flexbox2,
#intro_flexbox3,
#intro_flexbox4,
#intro_flexbox5,
#intro_flexbox6,
#intro_flexbox7,
#intro_flexbox8,
#intro_flexbox9,
#intro_flexbox10,
#intro_flexbox11,
#intro_flexbox12,
#intro_flexbox13,
#intro_flexbox14,
#intro_flexbox15,
#intro_flexbox16,
#intro_flexbox17,
#intro_flexbox18,
#intro_flexbox19,
#intro_flexbox20{
    display: none;
    
}

#area_flexbox1,
#area_flexbox2,
#area_flexbox3,
#area_flexbox4,
#area_flexbox5,
#area_flexbox6,
#area_flexbox7,
#area_flexbox8,
#area_flexbox9,
#area_flexbox10,
#area_flexbox11,
#area_flexbox12,
#area_flexbox13,
#area_flexbox14,
#area_flexbox15,
#area_flexbox16,
#area_flexbox17,
#area_flexbox18,
#area_flexbox19,
#area_flexbox20{
    display: none;
}

#pre_flexbox1,
#pre_flexbox2,
#pre_flexbox3,
#pre_flexbox4,
#pre_flexbox5,
#pre_flexbox6,
#pre_flexbox7,
#pre_flexbox8,
#pre_flexbox9,
#pre_flexbox10,
#pre_flexbox11,
#pre_flexbox12,
#pre_flexbox13,
#pre_flexbox14,
#pre_flexbox15,
#pre_flexbox16,
#pre_flexbox17,
#pre_flexbox18,
#pre_flexbox19,
#pre_flexbox20{
    display: none;
}

#preans_flexbox1 #bear,
#preans_flexbox2 #bear,
#preans_flexbox3 #bear
{
    align-items: flex-end;
}


#preans_flexbox1,
#preans_flexbox2,
#preans_flexbox3,
#preans_flexbox4,
#preans_flexbox5,
#preans_flexbox6,
#preans_flexbox7,
#preans_flexbox8,
#preans_flexbox9,
#preans_flexbox10,
#preans_flexbox11,
#preans_flexbox12,
#preans_flexbox13,
#preans_flexbox14,
#preans_flexbox15,
#preans_flexbox16,
#preans_flexbox17,
#preans_flexbox18,
#preans_flexbox19,
#preans_flexbox20{
    display: none;
}

.bgflexbox{
    background: url(./pic/river.png) no-repeat center center fixed;
}


.flexbox li,
.grid li {
    font-size: 14px;
}
