 

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url("pic/bg.png");
    font-family: 'Kanit', sans-serif;
    background-repeat: repeat;
    background-size: 100%;
    overflow: hidden;  
    margin: 0;     
}

.container {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.code, 
.preview_grid{
    width: 50%;
    height: 100%;
    padding: 10px;
}

.csstxt{
    font-size: 16px;
    color: #1d1e22;
    margin-left: 16px;
    width: calc(100% - 16px);
    height: 25px;
    display: block;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    background-color: #fff;
}


#txt_flexbox8,
#txt_flexbox9,
#txt_flexbox13,
#txt_flexbox14,
#txt_flexbox15,
#txt_flexbox17{
    height: 50px;
}


#txt_flexbox17
#txt_flexbox20{
    height: 100px;
}

/* iframe{
    width: 100%;
    height: 95%;
    background-color: #fff;
    border: 0;
    outline: 0;
} */

/* .code, .preview{
    color: #fff;
} */

label{
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #000;
    height: 30px;
    padding: 10px;
    color: #fff;
}

.CodeMirror {
    height: auto;
}

.time{
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.time h1{
    font-size: 18px;
    color: #fff;
}

#btnsub{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: #B355F2;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 5em;
    bottom: 1em;
    padding-top: 0.3em;
    opacity: 1;
    /* display: block; */
}

#btnsub:hover{
    background-color: #CF8BFC;
}

#btnnext{
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: #DE4B92;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 1em;
    bottom: 1em;
    padding-top: 0.3em;
    opacity: 0.5;
    /* display: none; */
}

#btnnext:hover{
    background-color: #F260B5;
}

.preview_flexbox
 {
    position: sticky;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    width: 90%;
    height: 90%;
    overflow: hidden;
    display: block;
}

.preview_grid{
    position: sticky;
    /* background-image: url("pic/flexbox/river.png"); */
   
    margin-top: 20px;
    width: 80vw;
    height: 90vh;
    overflow: hidden;
    border-radius: 4px;
    display: none;
}



#csscode{
    height: 320px;
    width: 100%;
    position: relative;
    padding: 10px 10px 10px 40px;
    background-color: #D9D9D9;
    border-radius: 4px;
    overflow: hidden;
    bottom: -44px;
}

.bear1{
    position: relative;
    width: 20%;
    overflow: hidden;
}




.bed1 {
    width: 30%;
    position: relative;
    overflow: hidden;
}

#bed {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1em;
    align-items: flex-end;
}



/* 
#bear{
    display: flex;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
   
} */

.cat{
    display: flex;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
}

#cat1 , #cat2, #cat3{
    width: 120px;
    position: relative;
    overflow: hidden;
}

#pre_flexbox2 .cat{
    display: flex;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;

}

#pink , #orange, #yellow{
    width: 160px;
    position: relative;

}

#area_flexbox2,
#pre_flexbox2,
#preans_flexbox2{
    display: block;
}

.raft {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#id{
    height: 260px;
    position: relative;
    padding: 10px 10px 10px 40px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}

#editor{
    /* margin-top: 20px; */
    font-size: 16px;
    line-height: 1.5;
    color: #646464;
    font-family: 'Source Code Pro', monospace;
}


.line-num{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 6px;
    text-align: right;
    background-color: #999;
    color: #D5D5D5;
}

#before{
    font-size: 16px;
    line-height: 1.5;
    color: #777;
    margin: 0;
}

.intro{
    margin-top: 25px;
    width: 100%;
    height: 40vh;
    background-color: #1B1D2D;
    border-radius: 4px;
}

#head{
    padding: 8px 20px;
    font-size: 35px;
    color: #fff;
}

#question{
    padding: 0px 50px;
    font-size: 16px;
    color: #fff;
}

ul{
    padding: 0px 90px;
    color: #fff;
}

.help{
    cursor: pointer;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 800;
}


#intro_flexbox1,
#intro_flexbox2,
#intro_flexbox3,
#intro_flexbox4,
#intro_flexbox5,
#intro_flexbox6,
#intro_flexbox7,
#intro_flexbox8,
#intro_flexbox9,
#intro_flexbox10,
#intro_flexbox11,
#intro_flexbox12,
#intro_flexbox13,
#intro_flexbox14,
#intro_flexbox15,
#intro_flexbox16,
#intro_flexbox17,
#intro_flexbox18,
#intro_flexbox19,
#intro_flexbox20{
    display: none;
    
}

#area_flexbox1,
#area_flexbox2,
#area_flexbox3,
#area_flexbox4,
#area_flexbox5,
#area_flexbox6,
#area_flexbox7,
#area_flexbox8,
#area_flexbox9,
#area_flexbox10,
#area_flexbox11,
#area_flexbox12,
#area_flexbox13,
#area_flexbox14,
#area_flexbox15,
#area_flexbox16,
#area_flexbox17,
#area_flexbox18,
#area_flexbox19,
#area_flexbox20{
    display: none;
}

#pre_flexbox1,
#pre_flexbox2,
#pre_flexbox3,
#pre_flexbox4,
#pre_flexbox5,
#pre_flexbox6,
#pre_flexbox7,
#pre_flexbox8,
#pre_flexbox9,
#pre_flexbox10,
#pre_flexbox11,
#pre_flexbox12,
#pre_flexbox13,
#pre_flexbox14,
#pre_flexbox15,
#pre_flexbox16,
#pre_flexbox17,
#pre_flexbox18,
#pre_flexbox19,
#pre_flexbox20{
    display: none;
}




#preans_flexbox1,
#preans_flexbox2,
#preans_flexbox3,
#preans_flexbox4,
#preans_flexbox5,
#preans_flexbox6,
#preans_flexbox7,
#preans_flexbox8,
#preans_flexbox9,
#preans_flexbox10,
#preans_flexbox11,
#preans_flexbox12,
#preans_flexbox13,
#preans_flexbox14,
#preans_flexbox15,
#preans_flexbox16,
#preans_flexbox17,
#preans_flexbox18,
#preans_flexbox19,
#preans_flexbox20{
    display: none;
}



#intro_grid1,
#intro_grid2,
#intro_grid3,
#intro_grid4,
#intro_grid5,
#intro_grid6,
#intro_grid7,
#intro_grid8,
#intro_grid9,
#intro_grid10,
#intro_grid11,
#intro_grid12,
#intro_grid13,
#intro_grid14{
    display: none;
    
}

#area_grid1,
#area_grid2,
#area_grid3,
#area_grid4,
#area_grid5,
#area_grid6,
#area_grid7,
#area_grid8,
#area_grid9,
#area_grid10,
#area_grid11,
#area_grid12,
#area_grid13,
#area_grid14{
    display: none;
}

#pre_grid1,
#pre_grid2,
#pre_grid3,
#pre_grid4,
#pre_grid5,
#pre_grid6,
#pre_grid7,
#pre_grid8,
#pre_grid9,
#pre_grid10,
#pre_grid11,
#pre_grid12,
#pre_grid13,
#pre_grid14{
    display: none;
}


#preans_grid1,
#preans_grid2,
#preans_grid3,
#preans_grid4,
#preans_grid5,
#preans_grid6,
#preans_grid7,
#preans_grid8,
#preans_grid9,
#preans_grid10,
#preans_grid11,
#preans_grid12,
#preans_grid13,
#preans_grid14,
#preans_grid15{
    display: none;
}

#preans_grid1 #bear,
#preans_grid2 #bear,
#preans_grid3 #bear,
#preans_grid3 #bear

{
    align-items: flex-end;
}

.flexbox li,
.grid li {
    font-size: 14px;
}



#intro_flexbox7,
#area_flexbox7,
/* #pre_flexbox7 */
#preans_flexbox7
{
display: block;
}


#pre_flexbox2 #cat2{
    margin-left: 22px;
}

#pre_flexbox2 .raft{
    align-items: center;
}

#pre_flexbox2 #orange{
    margin-left: -15px;
}


#preans_flexbox2 #cat2{
    margin-left: 22px;
}

#preans_flexbox2 .raft{
    align-items: center;
}

#preans_flexbox2 #orange{
    margin-left: -15px;
}

#preans_flexbox2 .cat{
    align-items: center;
}

#pre_flexbox3 #pink{
    justify-content: flex-end;
}

#pre_flexbox8 .raft{
    align-items: center;
    justify-content: center;
}

#preans_flexbox8 .raft,#preans_flexbox8 .cat{
    align-items: center;
    justify-content: center;
}


#pre_flexbox3 .raft{
    justify-content: flex-end;
}

#preans_flexbox3 .raft, #preans_flexbox3 .cat{
    justify-content: flex-end;
}


#pre_flexbox4 .raft{
    justify-content: center;
}

#pre_flexbox4 #cat1,#preans_flexbox4 #cat1{
    margin-left: -10px;
}

#pre_flexbox4 #cat2, #preans_flexbox4 #cat2{
    margin-left: 10px;
}

#preans_flexbox4 .raft, #preans_flexbox4 .cat{
    justify-content: center;
}

#pre_flexbox4 #orange, #preans_flexbox4 #orange{
    margin-left: -30px;
}


#pre_flexbox5 #pink,
#pre_flexbox5 #orange,
#pre_flexbox5 #yellow,
#preans_flexbox5 #pink,
#preans_flexbox5 #orange,
#preans_flexbox5 #yellow,
#pre_flexbox6 #pink,
#pre_flexbox6 #orange,
#pre_flexbox6 #yellow,
#preans_flexbox6 #pink,
#preans_flexbox6 #orange,
#preans_flexbox6 #yellow,
#pre_flexbox7 #pink,
#pre_flexbox7 #orange,
#pre_flexbox7 #yellow,
#preans_flexbox7 #pink,
#preans_flexbox7 #orange,
#preans_flexbox7 #yellow,
#pre_flexbox9 #pink,
#pre_flexbox9 #orange,
#pre_flexbox9 #yellow,
#preans_flexbox9 #pink,
#preans_flexbox9 #orange,
#preans_flexbox9 #yellow,
#pre_flexbox10 #pink,
#pre_flexbox10 #orange,
#pre_flexbox10 #yellow,
#preans_flexbox10 #pink,
#preans_flexbox10 #orange,
#preans_flexbox10 #yellow,
#pre_flexbox11 #pink,
#pre_flexbox11 #orange,
#pre_flexbox11 #yellow,
#preans_flexbox11 #pink,
#preans_flexbox11 #orange,
#preans_flexbox11 #yellow,
#pre_flexbox12 #pink,
#pre_flexbox12 #orange,
#pre_flexbox12 #yellow,
#preans_flexbox12 #pink,
#preans_flexbox12 #orange,
#preans_flexbox12 #yellow,
#pre_flexbox13 #pink,
#pre_flexbox13 #orange,
#pre_flexbox13 #yellow,
#preans_flexbox13 #pink,
#preans_flexbox13 #orange,
#preans_flexbox13 #yellow,
#pre_flexbox14 #pink,
#pre_flexbox14 #orange,
#pre_flexbox14 #yellow,
#preans_flexbox14 #pink,
#preans_flexbox14 #orange,
#preans_flexbox14 #yellow,
#pre_flexbox15 #pink,
#pre_flexbox15 #orange,
#pre_flexbox15 #yellow,
#preans_flexbox15 #pink,
#preans_flexbox15 #orange,
#preans_flexbox15 #yellow,
#pre_flexbox16 #pink,
#pre_flexbox16 #orange,
#pre_flexbox16 #yellow,
#preans_flexbox16 #pink,
#preans_flexbox16 #orange,
#preans_flexbox16 #yellow,
#pre_flexbox17 #pink,
#pre_flexbox17 #orange,
#pre_flexbox17 #yellow,
#preans_flexbox17 #pink,
#preans_flexbox17 #orange,
#preans_flexbox17 #yellow,
#pre_flexbox18 #pink,
#pre_flexbox18 #orange,
#pre_flexbox18 #yellow,
#preans_flexbox18 #pink,
#preans_flexbox18 #orange,
#preans_flexbox18 #yellow,
#pre_flexbox19 #pink,
#pre_flexbox19 #orange,
#pre_flexbox19 #yellow,
#preans_flexbox19 #pink,
#preans_flexbox19 #orange,
#preans_flexbox19 #yellow,
#pre_flexbox20 #pink,
#pre_flexbox20 #orange,
#pre_flexbox20 #yellow,
#preans_flexbox20 #pink,
#preans_flexbox20 #orange,
#preans_flexbox20 #yellow{
    width: 135px;
    margin-top: 10px;
    position: relative;
}

#pre_flexbox5 .raft, 
#preans_flexbox5 .raft{
    justify-content: space-around;
}

#pre_flexbox5 #cat1, 
#preans_flexbox5 #cat1{
    left: -16px;
}

#pre_flexbox5 #cat2, 
#preans_flexbox5 #cat2{
    left: -4px;
}

#pre_flexbox5 #cat3, 
#preans_flexbox5 #cat3{
    left: 6px;
}

#preans_flexbox5 .cat{
    justify-content: space-around;
}

#pre_flexbox6 .raft, 
#preans_flexbox6 .raft{
    justify-content: space-between;
}

#pre_flexbox6 #cat1, 
#preans_flexbox6 #cat1{
    left: -16px;
}

#pre_flexbox6 #cat2, 
#preans_flexbox6 #cat2{
    left: -4px;
}

#pre_flexbox6 #cat3, 
#preans_flexbox6 #cat3{
    left: 6px;
}

#preans_flexbox6 .cat{
    justify-content: space-between;
}


#pre_flexbox10 .raft,
#preans_flexbox10 .raft{
    justify-content: flex-end;
}

#pre_flexbox10 #pink,
#preans_flexbox10 #pink{
   right: -30px;
}
#pre_flexbox10 #orange,
#preans_flexbox10 #orange{
   right: -15px;
}


#preans_flexbox10 .cat{
    flex-direction: row-reverse;
}

#pre_flexbox9 .cat{
    align-items: flex-end;
}

#pre_flexbox9 .raft,
#preans_flexbox9 .raft{
   justify-content: space-between;
}


#preans_flexbox9 .cat{
    align-items: flex-start;
    justify-content: space-between;
}

#preans_flexbox9 #cat1{
    left: -17px;
}
#preans_flexbox9 #cat2{
    left: -9px;
}











